* {
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 180px;
}

h1 {
    color: red;
    font-size: 45px;
}

p {
    color: red;
}